<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, {{name}}!</h1>
    <p>We are excited to have you join us. Here is some important information for you:</p>
    <ul>
        <li>Your username: {{username}}</li>
        <li>Your email: {{email}}</li>
    </ul>
</body>
</html>